.DS_Store

# Node Rules

/backend/node_modules
/backend/uploads
backend/.DS_Store

## Mobile Rules

/mobile/node_modules/**/*
/mobile/.expo/*
/mobile/npm-debug.*
/mobile/*.jks
/mobile/*.p8
/mobile/*.p12
/mobile/*.key
/mobile/*.mobileprovision
/mobile/*.orig.*
/mobile/web-build/
/mobile/web-report/
/mobile/.DS_Store

## Web Rules

# dependencies
/web/node_modules
/web/.DS_Store
/web/.pnp
/web/.pnp.js

# testing
/web/coverage

# production
/web/build

# misc
/web/.DS_Store
/web/.env.local
/web/.env.development.local
/web/.env.test.local
/web/.env.production.local

/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
mobile/yarn-error.log
